body {
  color: #40514E;
  font-family: 'Merriweather', serif;
  margin: 0;
  text-align: center;
}

h1 {
  color: #66BFBF;
  font-size: 5.625rem;
  font-family: 'Sacramento', cursive;
  margin: 50px auto 0 auto;
}

h2 {
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  padding-bottom: 10px;
}

h3 {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}

p {
  line-height: 2;
}

a {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #EAF6F6;
}

hr {
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  margin: 100px auto;
  width: 4%;
}

.top-container {
  background-color: #EAF6F6;
  position: relative;
  padding-top: 100px;
}

.middle-container {
  margin: 100px 0;
}

.bottom-container {
  background-color: #66BFBF;
  padding: 50px 0 20px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 40px;
}

.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
}

.pro {
  text-decoration: underline;
}

.intro {
  width: 30%;
  margin: auto;
}

.contact-message {
  width: 40%;
  margin: 40px auto 60px;
}

.copyright {
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.design-img {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.cricket-img {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.btn {
	-moz-box-shadow:inset 0px 1px 0px 0px #a9cdf5;
	-webkit-box-shadow:inset 0px 1px 0px 0px #a9cdf5;
	box-shadow:inset 0px 1px 0px 0px #a9cdf5;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #1972d1), color-stop(1, #3a7de8) );
	background:-moz-linear-gradient( center top, #1972d1 5%, #3a7de8 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#1972d1', endColorstr='#3a7de8');
	background-color:#1972d1;
	-webkit-border-top-left-radius:8px;
	-moz-border-radius-topleft:8px;
	border-top-left-radius:8px;
	-webkit-border-top-right-radius:8px;
	-moz-border-radius-topright:8px;
	border-top-right-radius:8px;
	-webkit-border-bottom-right-radius:8px;
	-moz-border-radius-bottomright:8px;
	border-bottom-right-radius:8px;
	-webkit-border-bottom-left-radius:8px;
	-moz-border-radius-bottomleft:8px;
	border-bottom-left-radius:8px;
	text-indent:0;
	border:1px solid #337fed;
	display:inline-block;
	color:#ffffff;
	font-family: 'Montserrat', sans-serif;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	height:42px;
	line-height:42px;
	width:135px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #1570cd;
}
.btn:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #3a7de8), color-stop(1, #1972d1) );
	background:-moz-linear-gradient( center top, #3a7de8 5%, #1972d1 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#3a7de8', endColorstr='#1972d1');
	background-color:#3a7de8;
}.btn:active {
	position:relative;
	top:1px;
